.container {
    text-align: center;
    background: #222;
    margin: 0 auto;
    padding: 32px;
    height: 100%;
    color: black;
    border: 1px solid red;
    border-radius: 4px;
    margin-bottom: 20px;
}

h1 {
    width: 50%;
    background: deeppink;
    margin: 0 auto;
    margin-top: -54px;
    margin-bottom: 24px;
    padding: 16px 32px;
    font-size: 2rem;
    text-align: center;
    border-radius: 4px;
}
